{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta charset="utf-8">
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}
<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h1>Hello {{ user.first_name }}</h1>
        </div>
    </div>

    <h3>Head Coaches</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for member in head_coaches %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">4</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Coaches</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for member in coaches %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">4</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Members</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">4</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Non-Members</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for member in non_members %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">4</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
</body>
</html>