{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta charset="utf-8">
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}
<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h1>Hello {{ user.first_name }}</h1>
        </div>
    </div>

    <h3>Head Coaches</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Meets</th>
            <th scope="col">Assignments</th>
        </tr>
        </thead>
        <tbody>
        {% for head_coach in head_coaches %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ head_coach.first_name }}</td>
                <td>{{ head_coach.last_name }}</td>
                <td>0</td>
                <td>0</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Coaches</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Meets</th>
            <th scope="col">Assignments</th>
        </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ coach.first_name }}</td>
                <td>{{ coach.last_name }}</td>
                <td>0</td>
                <td>0</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Members</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Meets</th>
            <th scope="col">Assignments</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>0</td>
                <td>0</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
</body>
</html>