{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta charset="utf-8">
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}
<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h1>Hello {{ user.first_name }}</h1>
        </div>
    </div>

    <h3>Head Coaches</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for player in head_coaches %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                <td>{{ player.first_name }} {{ player.last_name}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Coaches</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

            <th scope="col">Score</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for player in coaches %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                <td><a class="nav-link" href="{% url 'player' player.id %}">{{ player.first_name }} {{ player.last_name}}</a></td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ player.bar_width }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ player.score }}</div>
                    </div>
                </td>
                <td class="text-right">
                    <form action="{% url 'promote' %}" method="post">
                        {% csrf_token %}
                        <input hidden name="user_id" value="{{ player.id }}">
                        <button type="submit" class="btn btn-sm btn-success">Promote</button>
                    </form>
                    <form action="{% url 'demote' %}" method="post">
                        {% csrf_token %}
                        <input hidden name="user_id" value="{{ player.id }}">
                        <button type="submit" class="btn btn-sm btn-danger">Demote</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Players</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

            <th scope="col">Score</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                <td><a class="nav-link" href="{% url 'player' player.id %}">{{ player.first_name }} {{ player.last_name}}</a></td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ player.bar_width }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ player.bar_width }}</div>
                    </div>
                </td>
                <td class="text-right">
                    <form action="{% url 'promote' %}" method="post">
                        {% csrf_token %}
                        <input hidden name="user_id" value="{{ player.id }}">
                        <button type="submit" class="btn btn-sm btn-success">Promote</button>
                    </form>
                    <form action="{% url 'demote' %}" method="post">
                        {% csrf_token %}
                        <input hidden name="user_id" value="{{ player.id }}">
                        <button type="submit" class="btn btn-sm btn-danger">Demote</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Non-Players</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

            <th scope="col">Score</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for player in non_players %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                <td><a class="nav-link" href="{% url 'player' player.id %}">{{ player.first_name }} {{ player.last_name}}</a></td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ player.bar_width }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ player.score }}</div>
                    </div>
                </td>
                <td class="text-right">
                    <form action="{% url 'promote' %}" method="post">
                        {% csrf_token %}
                        <input hidden name="user_id" value="{{ player.id }}">
                        <button type="submit" class="btn btn-sm btn-success">Promote</button>
                    </form>
                    <form action="{% url 'demote' %}" method="post">
                        {% csrf_token %}
                        <input hidden name="user_id" value="{{ player.id }}">
                        <button type="submit" class="btn btn-sm btn-danger">Demote</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
</body>
</html>