<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Badoian</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'assignments' %}">Assignments</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'statistics' %}">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rounds' %}">Rounds</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
                <a class="btn btn-danger my-2 my-sm-0" href="{% url "logout" %}">Logout</a>
            {% endif %}
        </form>

    </div>
</nav>