<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}
<div class="container">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h3>Meets</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Meet</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for individual_score in individual_scores %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                <td>{{ individual_score }}</td>

                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ individual_score.bar_width }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ individual_score }}</div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Assignments</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Assignments</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>

                <td>{{ assignment }}</td>

                <td>
                    <div class="progress">
                        {% if assignment.submission %}
                            <div class="progress-bar" role="progressbar" style="width: {{ assignment.submission.bar_width }}%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ assignment.submission.score }}</div>
                        {% else %}
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0</div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>