<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rounds</title>
    {% include 'head.html' %}
    <script>
        $(document).ready(function () {
            $('#confirmModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var round_id = button.data('round-id') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('#round-id').val(round_id)
            })

            $('#newAssignmentModal').on('show.bs.modal' , function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var round_id = button.data('round-id') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('#round-id').val(round_id)
            })
        });
    </script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
        } );
    </script>
</head>
<body>
{% include 'nav_bar.html' %}

<div class="container">
    <h1>Rounds</h1>

    <div class="form-inline mb-3">

        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <div class="input-group-text">League</div>
            </div>
            <select class="custom-select" name="league">
                <option value=""></option>
                {% for league in Round.LEAGUES %}
                    <option value="{{ league.0 }}">{{ league.0 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Year</div>
            </div>
            <select class="custom-select" name="year">
                <option value=""></option>
                {% for year in Round.YEARS %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Contest Index</div>
            </div>
            <select class="custom-select" name="contest_index">
                <option value=""></option>
                {% for contest_index in Round.CONTEST_INDEX %}
                    <option value="{{ contest_index.1 }}">{{ contest_index.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Round Index</div>
            </div>
            <select class="custom-select" name="round_index">
                <option value=""></option>
                {% for round_index in Round.ROUND_INDEX %}
                    <option value="{{ round_index.1 }}">{{ round_index.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-outline-primary mr-2" type="submit">Clear Queries</button>

        <button class="btn btn-primary" type="submit">Query</button>
    </div>


    <button class="btn btn-primary" data-toggle="modal" data-target="#roundModal">Create New Round</button>

    <ul class="list-group list-group-flush my-4">
        {% for round in rounds %}
            <li class="list-group-item">
                <h5>{{ round }}
                    <span>
                    {% if round.file %}
                        <a href="{% url 'round_file' round.id %}" target="_blank" class="badge badge-success">File</a>
                    {% endif %}
                    </span>
                </h5>
                {% if not round.file %}
                    <div class="text-secondary">
                        {% for problem in round.problems.all %}
                            {{ problem.question }}
                            <br>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="form-inline">
                    <div class="form-group mr-auto">
                        <button type="submit" class="btn btn-outline-secondary"
                                data-toggle="modal" data-target="#editRound{{ round.id }}"
                                data-title="Edit Round" data-league="{{ round.league }}" data-year="{{ round.year }}"
                                data-round-id="{{ round.id }}">
                            Edit
                        </button>
                    </div>

                    <div class="form-group mr-auto">
                        <button class="btn btn-primary" data-round-id="{{ round.id }}" data-toggle="modal" data-target="#newAssignmentModal">Assign Round</button>
                    </div>

                    <div class="form-group">
                        <button data-toggle="modal" data-target="#confirmModal" class="btn btn-danger" data-round-id="{{ round.id }}">Delete</button>
                    </div>
                </div>
            </li>

            <div class="modal fade" id="editRound{{ round.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ round }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'edit_round' %}" method="post">
                            {% csrf_token %}
                            <input hidden name="round_id" value="{{ round.id }}">
                            <div class="modal-body">
                                <div class="form-group">

                                    Old Answers
                                    <small class="text-secondary mb-3">
                                        {{ round.correct_answers|linenumbers|linebreaks }}
                                    </small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Answer 1</div>
                                        </div>
                                        <input type="text" class="form-control" name="a_1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Answer 2</div>
                                        </div>
                                        <input type="text" class="form-control" name="a_2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Answer 3</div>
                                        </div>
                                        <input type="text" class="form-control" name="a_3">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        {% endfor %}
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form method="post" action="{% url 'delete_round' %}">
                            {% csrf_token %}
                            <input hidden name="round_id" value="" id="round-id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ul>

    <div class="modal fade" id="roundModal" tabindex="-1" role="dialog" aria-labelledby="roundModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roundModalLabel">New Round</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'create_rounds' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">League</span>
                                    </div>
                                    <select class="custom-select" name="league">
                                        {% for league in Round.LEAGUES %}
                                            <option value="{{ league.0 }}">{{ league.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Round</span>
                                    </div>
                                    <select class="custom-select" name="round_index">
                                        {% for index in Round.ROUND_INDEX %}
                                            <option value="{{ index.0 }}">{{ index.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Contest</span>
                                    </div>
                                    <select class="custom-select" name="contest_index">
                                        {% for index in Round.CONTEST_INDEX %}
                                            <option value="{{ index.0 }}">{{ index.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Start Year</span>
                                    </div>
                                    <select class="custom-select" name="start_year">
                                        {% for year in Round.YEARS %}
                                            <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>


                        <h4>Problem 1</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Answer</span>
                                </div>
                                <input class="form-control" type="text" name="a_1">
                            </div>
                        </div>

                        <h4>Problem 2</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Answer</span>
                                </div>
                                <input class="form-control" type="text" name="a_2">
                            </div>
                        </div>

                        <h4>Problem 3</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Answer</span>
                                </div>
                                <input class="form-control" type="text" name="a_3">
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="input-b3" name="round_file" type="file" class="file" multiple
                                   data-show-upload="false" data-show-caption="true"
                                   data-msg-placeholder="Select {files} for upload...">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success ml-auto">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="newAssignmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newAssignmentModalLabel">When Do You Want the Assignment Due?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'create_assignment' %}" method="post">
                    {% csrf_token %}
                    <input hidden name="round_id" id="round-id">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Due Date</span>
                                </div>
                                <input class="form-control" type="text" id="datepicker" name="due_date" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success ml-auto">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>