<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rounds</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}

<div class="container">
    <h1>Rounds</h1>

    {% for round in rounds %}
        <div class="row">
            <div class="col">
                <h3>{{ round.name }}</h3>
                <div class="text-secondary">
                    {% for problem in round.problems.all %}
                        {{ problem.question }}
                        {{ problem.correct_answer }}
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <form method="post" action="{% url 'delete_round' %}" class="float-right">
                        {% csrf_token %}
                        <input hidden name="round_id" value="{{ round.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <br>
                <div class="form-group">
                    <form method="post" action="" class="float-right">
                        {% csrf_token %}
                        <input hidden name="round_id" value="{{ round.id }}">
                        <button type="submit" class="btn btn-outline-secondary">Edit</button>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %}

    <button class="btn btn-primary" data-toggle="modal" data-target="#roundModal">Create New Round</button>

    <div class="modal fade" id="roundModal" tabindex="-1" role="dialog" aria-labelledby="roundModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roundModalLabel">New Round</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'create_rounds' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                </div>
                                <input class="form-control" type="text" placeholder="Round Name" name="round_name" required>
                            </div>
                        </div>

                        <h4>Problem 1</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Question</span>
                                </div>
                                <textarea class="form-control" placeholder="LaTeX Format" name="q_1" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Answer</span>
                                </div>
                                <input class="form-control" type="text" placeholder="SymPy Format" name="a_1" required>
                            </div>
                        </div>

                        <h4>Problem 2</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Question</span>
                                </div>
                                <textarea class="form-control" placeholder="LaTeX Format" name="q_2" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Answer</span>
                                </div>
                                <input class="form-control" type="text" placeholder="SymPy Format" name="a_2" required>
                            </div>
                        </div>

                        <h4>Problem 3</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Question</span>
                                </div>
                                <textarea class="form-control" placeholder="LaTeX Format" name="q_3" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Answer</span>
                                </div>
                                <input class="form-control" type="text" placeholder="SymPy Format" name="a_3" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="input-b3" name="round_file" type="file" class="file" multiple
                                   data-show-upload="false" data-show-caption="true"
                                   data-msg-placeholder="Select {files} for upload...">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success ml-auto">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>