<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1>Meets</h1>
            {% for competed_meet in competed_meets %}
                <h3>{{ competed_meet }}</h3>
                <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteMeet{{ competed_meet.id }}">Delete</button>
                <div class="modal fade" id="confirmDeleteMeet{{ competed_meet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are You Sure You Want to Delete {{ competed_meet }}?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                                <form action="{% url 'delete_competed_meet' %}" method="post">
                                    {% csrf_token %}
                                    <input hidden name="competed_meet_id" value="{{ competed_meet.id }}">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in competed_meet.players %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ player.first_name }} {{ player.last_name }}</td>
                            <td>
                                {% if player.score %}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ player.bar_width }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ player.score }}</div>
                                    </div>
                                {% else %}
                                    <small class="text-secondary">Did not participate</small>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-secondary">Add Score</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

            <button class="btn btn-primary" data-toggle="modal" data-target="#meetModal">Add Competed Meet</button>

            <div class="modal fade" id="meetModal" tabindex="-1" role="dialog" aria-labelledby="meetModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="meetModalLabel">New Meet</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'create_competed_meet' %}" method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">League</span>
                                        </div>
                                        <select class="custom-select" name="league">
                                            {% for league in Meet.LEAGUES %}
                                                <option value="{{ league.0 }}">{{ league.0 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">


                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Contest</span>
                                        </div>
                                        <select class="custom-select" name="contest_index">
                                            {% for index in Meet.CONTEST_INDEX %}
                                                <option value="{{ index.0 }}">{{ index.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">


                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Start Year</span>
                                        </div>
                                        <select class="custom-select" name="start_year">
                                            {% for year in Meet.YEARS %}
                                                <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success ml-auto">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Assignments</h1>
            {% for assignment in assignments %}
                <h3 data-toggle="collapse" data-target="#collapse{{ assignment.id }}">{{ assignment }}</h3>
                <div class="collapse{% if forloop.counter0 == 0 %} show{% endif %}" id="collapse{{ assignment.id }}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Score</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in assignment.members %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ member.first_name }}</td>
                                <td>{{ member.last_name }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ member.bar_width}}%;" aria-valuenow="{{ member.score }}" aria-valuemin="0" aria-valuemax="18">{{ member.score }}</div>
                                    </div>
                                    <span class="badge badge-success">Autograded</span>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-primary">Manually Grade</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>