<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Meets</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Assignments</h1>
            {% for assignment in assignments %}
                <h3 data-toggle="collapse" data-target="#collapse{{ assignment.id }}">{{ assignment }}</h3>
                <div class="collapse{% if forloop.counter0 == 0 %} show{% endif %}" id="collapse{{ assignment.id }}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in assignment.members %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ member.first_name }}</td>
                                <td>{{ member.last_name }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ member.bar_width}}%;" aria-valuenow="{{ member.score }}" aria-valuemin="0" aria-valuemax="18">{{ member.score }}</div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>