<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'nav_bar.html' %}

<div class="container">
    <h1>Submission</h1>

    {% if submission.assignment.round.file %}
        <a href="{% url 'round_file' submission.assignment.round.id %}" target="_blank" class="badge badge-primary mb-3">File</a>
    {% endif %}

    <form action="{% url 'submit_submission' %}" method="post">
        {% csrf_token %}
        <input hidden name="submission_id" value="{{ submission.id }}">
        {% for problem in submission.assignment.round.problems.all %}
            <div class="form-group">
                <h3>Question {{ forloop.counter }}</h3>
                <h5>{{ problem.question }}</h5>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Answer</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="SymPy Format" name="answer_{{ forloop.counter }}">
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            Alternatively, you can upload a file of your submission here
            <input id="input-b3" name="round_file" type="file" class="file" multiple
                   data-show-upload="false" data-show-caption="true"
                   data-msg-placeholder="Select {files} for upload...">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

</body>
</html>